[mysqld]
server-id=1003
log-bin=mysql-bin
gtid-mode=ON
enforce-gtid-consistency=ON
log-slave-updates=ON
binlog-format=ROW
report-host=mysql-3
report-port=3306
master-info-repository=TABLE
relay-log-info-repository=TABLE
read_only=ON